<div  >
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Escanear codigos QR
      </ion-title>
    </ion-toolbar>
  </ion-header>
  </div>

<ion-content padding>

<qr-scanner 
        [debug]="false"
        [canvasWidth]="1080"                               
        [canvasHeight]="720" 
        [stopAfterScan]="false" 
        [updateTime]="500">
</qr-scanner>


  <ion-item>
    <ion-input class="animate__animated animate__fadeIn"  [(ngModel)]="code"></ion-input>
  </ion-item>
  <ion-button expand="block" color="warning" class="animate__animated animate__fadeInUp" (click)="guardar()" (click)="presentAlert()" >
    Guardar
  </ion-button>




</ion-content>
