<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaultHref="home" text="volver" mode="ios"></ion-back-button>
  </ion-buttons>
    <ion-title>Asistencia</ion-title>
    <ion-icon slot="end" [name]="icono" class="ion-padding" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
    
 

 <ion-card>
 <ion-list>
 <ion-item text color="primary" >
      {{code}}
    </ion-item>
    <br>
 <ion-item *ngFor="let item of codes">
  {{item.nombre}}
  </ion-item>
 </ion-list>
 </ion-card>


</ion-content>


<app-footer></app-footer>


